extends ../layouts/page.pug

block content
  a(href='/courses/new') New User

  if courses.length === 0
      p Пока не добавлено ни одного курса
  else
    each course in courses
      div
        h2
          a(href=`/courses/${course.id}`)= course.title
        p= course.description