extends page.pug

block header
  style(type="text/css").
    header {
      border-bottom: gray;
      border-width: 1px;
      border-color: gray;
      padding: 4px;
      padding-bottom: 32px;
    }
  header
    h1 Михаил Могильников
    p
      a(href='/') На главную
block content 
block footer
  style(type="text/css").
    footer {
      border-top: 1px;
      border-color: gray;
      padding: 4px;
      padding-top: 32px;
    }
  footer 
    h4
      a(href='https://github.com/mikhailmogilnikov') Мой Github